<!-- Places details page -->

<h1> <%= @place["name"] %> </h1>

<!-- for loop for entries for place -->
<h2>Notes</h2>
<ul>
  <% entries = Entry.where({"place_id" => @place["id"]}).order("posted_on ASC")%>
  <% for entry in entries %>
  <!-- hides the entry if not all values have been entered -->
    <% if entry["title"].present? && entry["description"].present? %>
      <li>
        <%= entry.posted_on %> - <b> <%= entry["title"] %> </b> - <%= entry["description"] %>  
      </li>
    <% end %>
  <% end %>
</ul>

<p>
  <button>
    <a href="/entries/new?place_id=<%= @place["id"] %> ">New Note</a>
  </button>
</p>

<p>
  <button>
    <a href="/places">Back to all Places</a>
  </button>
</p>